@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  background-color: rgba(242, 248, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgba(255, 255, 255, 1);
  width: 55%;
  min-height: 75dvh;
  border: 0.5px solid rgba(230, 230, 230, 1);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#iniciar {
  display: flex;
  width: 50%;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    margin-bottom: 14px;
  }

  h1 {
    color: rgba(51, 51, 51, 1);
    font-weight: 600;
    margin: 0;
  }

  p {
    color: rgba(116, 116, 116, 1);
  }

  #botaoIniciar {
    color: rgba(242, 248, 255, 1);
    background-color: rgba(30, 64, 175, 1);
    font-weight: 600;
    border: none;
    margin-top: 1rem;
    padding: 0.75rem;
    padding-inline: 3rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
}

#lembrete {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;

  img {
    width: 100px;
    margin-bottom: 14px;
  }

  h1 {
    color: rgba(51, 51, 51, 1);
    font-weight: 600;
    margin: 0;
  }

  p {
    color: rgba(116, 116, 116, 1);
  }

  #botaoAvancar {
    color: rgba(242, 248, 255, 1);
    background-color: rgba(30, 64, 175, 1);
    font-weight: 600;
    border: none;
    margin-top: 1rem;
    padding: 0.75rem;
    padding-inline: 3rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }

}

#pergunta {
  display: none;
  flex-direction: column;
  min-width: 90%;
  margin-inline: 2rem;
  margin-block: 1rem;

  .parte-cima {
    text-align: right;

    p {
      margin: 0;
      color: rgba(116, 116, 116, 1);
    }

    /* Estilo do contêiner da barra */
    .progress-container {
      width: 100%;
      background-color: rgba(242, 248, 255, 1);
      border-radius: 10px;
      overflow: hidden;
      height: 14px;
    }

    /* Estilo da barra de progresso */
    .progress-bar {
      width: 0%;
      height: 100%;
      background-color: rgba(30, 64, 175, 1);
      transition: width 0.3s ease;
    }
  }

  .opcao {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    padding: 0.8rem;
    padding-left: 2rem;

    margin-block: 0.5rem;

    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 9px;

    input {
      cursor: pointer;
      transform: scale(1.5);
    }
  }

  label[for="botao"] {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    
    #anterior {
      font-family: "Poppins", sans-serif;
      font-weight: 600;

      background-color: rgba(242, 248, 255, 1);
      color: rgba(30, 64, 175, 1);

      padding-block: 0.75rem;
      padding-inline: 2rem;

      border: none;
      border-radius: 8px;
    }

    #anterior:hover {
      border: 1px solid rgba(30, 64, 175, 1);
      transition: 0.2s ease;
      cursor: pointer;
    }

    #finalizar {
        display: none;
    }

    margin-top: auto;
  }
}

.botaoAzul {
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  background-color: rgba(30, 64, 175, 1);
  color: rgba(242, 248, 255, 1);

  padding-block: 0.75rem;
  padding-inline: 2rem;

  border: none;
  border-radius: 8px;
}
.botaoAzul:hover {
  background-color: rgba(242, 248, 255, 1);
  color: rgba(30, 64, 175, 1);
  border: 1px solid rgba(30, 64, 175, 1);
  transition: 0.2s ease;
  cursor: pointer;
}
.botaoAzul:disabled {
  cursor: default;
  background-color: rgb(30, 64, 175, 0.7);
}
.botaoAzul:disabled:hover {
  background-color: rgb(30, 64, 175, 0.7);
  border: none;
  color: rgba(242, 248, 255, 1);
}

#resultado {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 90%;
  height: 100%;

  article {
    width: 100%;
    height: 320px;
    max-height: 45dvh;
  }

}

#analises {
  display: none;
  margin: 2rem auto;
  min-width: 38rem;
  width: 78%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: stretch;
}

.analise {
  background-color: rgba(255, 255, 255, 1);
  padding: 2rem;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}

.meio-pequena {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h4 {
    font-weight: 400;
  }

  .pontuacao-pequena {
    color: rgba(30, 64, 175, 1);
  }
}

.cab-pequena {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.situacao {
  display: flex;
  background-color: rgba(30, 64, 175, 1);
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  padding-inline: 0.6rem;
  padding-block: 4px;
  min-width: 3.6rem;
  border-radius: 6px;
}
.main-depois {
  margin-top: 5rem;
  width: 76%;
}

#analises > div {
  display: flex;
  justify-content: center;
  width: 200%;
}

#botaoRefazer {
  position: center;
}